<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>My name is Sam Goree, I'm a recent graduate of Oberlin College in Ohio, where I majored in computer science and musical studies, and am currently working at <a href=https://www.rti.org>RTI International</a> as a data scientist. Welcome to my personal slice of the internet! I've used this blog in the past to detail an honors research project that I completed and some other miscellaneous work, and will continue to use it to document future projects of mine.</p>
</div>
</section>