<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>My name is Sam Goree, I'm a recent graduate of Oberlin College in Ohio, where I majored in computer science and musical studies, and am currently a graduate student at <a href=https://www.luddy.indiana.edu//>Indiana University</a>. Welcome to my personal blog! I've used this site in the past to write about research projects I've worked on, and will continue to use it to document future work whenever I'm able.</p>
</div>
</section>