<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>My name is Sam Goree, I'm a senior computer science/musical studies major at Oberlin College in Ohio. Welcome to my personal slice of the internet! I plan to use this site over the course of the next few months to document two current research projects of mine, a project in using machine learning techniques to generate musical counterpoint and a music theory capstone paper, probably involving the procedural music of Conlon Nancarrow, Lejaren Hiller, and/or Iannis Xenakis.</p>
</div>
</section>