<section class="section experience-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Researcher</h3>
                            <div class="time">May '16 - August '16</div>
                        </div><!--//upper-row-->
                        <div class="company">Harvey Mudd College REU Program</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed deep learning backend for jazz improvisation software <a href='https://www.cs.hmc.edu/~keller/jazz/improvisor/'>Impro-Visor</a> under Dr. Bob Keller. </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">TA/Grader</h3>
                            <div class="time">Feb '16 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Oberlin College Computer Science Department</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Graded and held office hours for Algorithms and Programming Abstractions</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Researcher</h3>
                            <div class="time">May '15 - July '15</div>
                        </div><!--//upper-row-->
                        <div class="company">Siena College REU Program</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Implemented information extraction and text clustering techniques for Dr. Larry Medsker</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->