$backgroundColor: #e8f9f5;
$bodyColor: #000000;
$bodyFont: "Noto Serif",serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #b28230;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

